@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }
}
